<div style="width: 22%; margin: 0 0 1.5em 0; padding: 1em; border: 1px solid black;">

  <strong >{{ shop_name }}</strong><br />
  {{ shop.address }}<br/>
  {{ shop.city }} {{ shop.province_code }} {{ shop.zip | upcase }}<br/>
  {{ shop.country }}
</div>
</div>
<div style="font-size: 20px; float: left; width:50%; margin: 0 25% 1.5em 25%; padding: 1.5em; border: 1px solid black;">
  <h2 style="margin: 0 0 20px 0;">{{ shipping_address.last_name }}, {{ shipping_address.first_name }}</h2>
    {% if shipping_address.company %}
      {{ shipping_address.company }}<br/>
    {% endif %}
    {{ shipping_address.street }}<br/>
    {{ shipping_address.city }}
    {{ shipping_address.province_code }}
    {{ shipping_address.zip | upcase }}<br/>
    {{ shipping_address.country }}
</div>


 <div style="width: 200px; margin: 600px auto 100px;"> <img src="https://cdn.shopify.com/s/files/1/0260/2604/9613/files/wccd_360x.png?v=1606493635" height="80px" style="float: left;   transform: scale(-1, -1); ">
  </div>

<p style="page-break-after: always;">&nbsp;</p>
<!-- end of mailer address page -->

<!-- PICK UP DETAILS PAGE --> 
<h2>Pick up your Spring Tree &amp; Shrub Order!</h2>
<h4 style="text-align:center;">Friday, April 23rd: 1 pm - 6 pm<br />
Saturday, April 24th: 9 am - 10:30 am<br /> 
Washtenaw Farm Council Grounds<br />
5055 Ann Arbor-Saline Rd<br />
Ann Arbor, MI 48103</h4>

All orders must be picked up within these times.
If you are unavailable please send someone in your place with your information (name, order number) to pick up your order.

Orders that aren't picked up will be donated. 

<h3>COVID-19 Safety &amp; Pick-up Protocols</h3>
<p>Due to the COVID-19 pandemic, the process will be different from previous years. The distribution will be organized for customers to drive-through and stay in their vehicles. Volunteers can load your order into your trunk to provide an entirely contactless pick-up. Please follow the signs on arrival, and <strong>stay in your vehicle</strong>.</p> 

<p><strong>All orders will be pre-packed.</strong> Therefore, there will be no choosing your items. 
 </p>

<p>Masks must be worn and social distancing protocols will be enforced. Do not come if your are sick or required to quarantine. Please send someone else for your order if you cannot make it due to health issues.</p> 

<h3>Extra Trees & Shrubs sale - April 24 10:30am</h3>


We sometimes have extra trees at the end of the April 23/24th distribution. There will be a call list you can sign onto in order to get in line to purchase trees at 10:30am on Saturday April 24th. To get on the list:

<ol type="1">
<li>Sign up in person during the distribution event on Friday or Saturday when you pick up your order.
</li><li>You will need to provide your name and a cell phone number.
</li><li>For social distance safety, we will ask people to stay in the parking lot until we call you. We will call from the list in the order that people signed up.
</li><li>You must be present at 10:30am on Saturday. When called come to the entrance and wait in a short socially distanced line for your turn to select from what's left. </li></ol>
<strong>No walk-ups for the Saturday Extras sale or early sign-ups prior the distribution.</strong>

We make no guarantees of which species or quantities will be available. We will accept payment via credit card or check. Check is preferred. 

<h3>Fall Tree &amp; Shrub sale</h3>
The fall sale will be in early October. We will make every effort to offer many of the species that sold out quickly this spring, however the species selection will depend on supplier availability. We don't sell shrubs in the fall. We cannot carry over unmet orders to the fall given the selection might change. 
<p style="text-align: center";>
Please follow WashtenawCD on Facebook or subscribe to our monthly e-newsletter for updates.
<br />
Your purchases support conservation work by the Washtenaw County Conservation District.<br />
On behalf of the staff and board, thank you!<br />
http://www.washtenawcd.org 
</p>



<p style="page-break-after: always;">&nbsp;</p>
<!-- end of PICK UP page -->


<!-- ORDER CONFIRMATION PAGE --> 
<p style="float: right; text-align: right; margin: 0;">
  {{ "now" | date: "%m/%d/%y" }}<br />
  Order: <span style="font-size:35px;">{{ order_name }}</span><br />
  Order Payment Status: {{ financial_status }}
</p>

<div style="float: left; margin: 0 0 1.5em 0;" >
  <strong style="font-size: 2em;">{{ shipping_address.last_name }}, {{ shipping_address.first_name }}</strong><br /><br />
    {% if shipping_address.company %}
      {{ shipping_address.company }}<br/>
    {% endif %}
    {{ shipping_address.street }}<br/>
    {{ shipping_address.city }}
    {{ shipping_address.province_code }}
    {{ shipping_address.zip | upcase }}<br/>
    {{ shipping_address.country }}
</div>
<hr />
<h3 style="margin: 0 0 1em 0;">Item Details</h3>
<table class="table-tabular" style="margin: 0 0 1.5em 0;">
  <thead>
    <tr>
      <th>Quantity</th>
      <th>Item</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
{% assign npexpo = "" %}
{% assign tssale = "" %}
{% assign other = "" %}
    {% assign line_items_sorted = line_items | sort: "sku" %}
    {% for line_item in line_items_sorted %}
      {% capture line_item_html %} 
      <tr>
        <td>{{ line_item.quantity }} x</td>
        <td><b>{{ line_item.product.title }}</b><br />{{ line_item.variant.title }}</td>

        <td>
          {% if line_item.original_price != line_item.price %}
            <s>{{ line_item.original_price | money }}</s>
          {% endif %}
          {{ line_item.price | money }}
          </td>
      </tr>
      {% endcapture %}
      {% if line_item.product.tags contains "Pick-Up: Native Plant Distribution June 5" %}
          {% assign npexpo = npexpo | append: line_item_html %}
      {% elsif line_item.product.tags contains "Pick-Up: Tree &amp; Shrub Distribution April 23-24" %}
          {% assign tssale = tssale | append: line_item_html %}
      {% else %}
          {% assign other = other | append: line_item_html %}
      {% endif %}
    {% endfor %}
        {% if npexpo != "" %}
    <tr class="event-header"><td colspan="3" class="h2 pickup">Native Plant Expo - June 5th</td></tr>
      {{ npexpo }}
    {% endif %}
    {% if tssale != "" %}
    <tr class="event-header"><td colspan="3" class="h2 pickup">Tree & Shrub Sale - April 23rd-24th</td></tr>
      {{ tssale }}
    {% endif %}
    {% if other != "" %}
    <tr class="event-header"><td colspan="3" class="h2 pickup">Monthly pick-ups at WCCD Office / Donations</td></tr>
      {{ other }}
    {% endif %}

  </tbody>
</table>

{% if transactions.size > 0 %}
  <h3 style="margin: 0 0 1em 0;">Transaction Details</h3>
  <table class="table-tabular" style="margin: 0 0 1.5em 0;">
    <thead>
      <tr>
      <th>Date</th>
        <th>Type</th>
        <th>Amount</th>
        <th>Kind</th>
          <th>Payment Details</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for transaction in transactions %}
        <tr>
          <td>{{ transaction.created_at | date: "%a, %b %d, %y" }}</td>
          <td>{{ transaction.gateway | payment_method }}</td>
          <td>{{ transaction.amount | money }}</td>
          <td>{{ transaction.kind }}</td>
            <td>{{ transaction.payment_details.credit_card_company }} - {{ transaction.payment_details.credit_card_number }}</td>
          <td>{{ transaction.status }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}

<h3 style="margin: 0 0 1em 0;">Payment Details</h3>

<table class="table-tabular" style="margin: 0 0 1.5em 0;">
  <tr>
    <td>Subtotal price:</td>
    <td>{{ subtotal_price | money }}</td>
  </tr>
  {% for discount in discounts %}
  <tr>
    <td>Includes discount "{{ discount.code }}"</td>
    <td>{{ discount.savings | money }}</td>
  </tr>
  {% endfor %}
  <tr>
    <td>Total tax:</td>
    <td>{{ tax_price | money }}</td>
  </tr>
  {% if shipping_address %}
    <tr>
      <td>Shipping:</td>
      <td>{{ shipping_price | money }}</td>
    </tr>
  {% endif %}
  <tr>
    <td><strong>Total price:</strong></td>
    <td><strong>{{ total_price | money }}</strong></td>
  </tr>
  {% if total_paid != total_price %}
    <tr>
      <td><strong>Total paid:</strong></td>
      <td><strong>{{ total_paid | money }}</strong></td>
    </tr>
    <tr>
      <td><strong>Outstanding Amount:</strong></td>
      <td><strong>{{ total_price | minus: total_paid | money }}</strong></td>
    </tr>
  {% endif %}
</table>

{% if note %}
  <h3 style="margin: 0 0 1em 0;">Customer Note / Check info:</h3>
  <p>{{ note }}</p>
{% endif %}

<p style="page-break-after: always;">&nbsp;</p>
<!-- blank last page -->
<br />


{% for line_item in line_items %}
  {% if line_item.name contains "Donation" %}
<h2>Thank you for your donation to the School &amp; Community Habitat Grant!</h2>

<p>The Directors and Staff of the Washtenaw County Conservation District appreciate your support of our efforts to further conservation through the School & Community Habitat Grant.</p>
<p>The Washtenaw County Conservation District (WCCD) School and Community Habitat Grant is designed to assist schools and communities with accessing plants and establishing wildlife habitat. Grants will be awarded in the form of tree, shrub and native plant material through the WCCD distributions. Grant fund availability is dependent on donations made to the WCCD for this purpose and grant selections will be made based on the amount donated.</p>

<table class="table-tabular" style="width: 90%; margin: 0 20px 1.5em;">
<tr>
<td>Organization Name and Address:</td>
<td>
  <strong >{{ shop_name }}</strong><br />
  {{ shop.address }}<br/>
  {{ shop.city }} {{ shop.province_code }} {{ shop.zip | upcase }}<br/>
  {{ shop.country }}
</td>
</tr>
<tr>
<td>Donor Name and Address:</td>
<td>
  {{ shipping_address.last_name }}, {{ shipping_address.first_name }}<br />
    {% if shipping_address.company %}
      {{ shipping_address.company }}<br/>
    {% endif %}
    {{ shipping_address.street }}<br/>
    {{ shipping_address.city }}
    {{ shipping_address.province_code }}
    {{ shipping_address.zip | upcase }}<br/>
    {{ shipping_address.country }}
</div>
</td>
</tr>
<tr>
<td>Order Number</td>
<td>{{ order_name }}</td>
</tr>
<tr>
<td>Date Received Donation:</td>
<td>{{ created_at | date: "%Y-%m-%d %H:%M"  }}</td>
</tr>
<tr>
<td>Date Receipt Issued:</td>
<td>{{ "now" | date: "%Y-%m-%d %H:%M" }}</td>
</tr>
<tr>
<td>Total Donation:</td>
<td>  {{ line_item.line_price | money }} <br />
</td>
</tr>
<tr>
<td colspan="2">
<p>Your donation is tax deductible under Section 170(c)(1) of the Internal Revenue Code.
</p>
<p>No goods or services were given to the donor for this contribution.<br /></p>
</td></tr>
</table>

<p>Again, thank you and stay tuned to hear about the grant awardees' projects! Please reach out with any questions.<br />
<br />
Sincerely,<br />
Doug Reith<br />
<em>Resource Coordinator</em><br />
Washtenaw County Conservation District<br />
(734) 302-8713<br />
doug@washtenawcd.org
</p>

  {% endif %}
  
{% endfor %}

<p style="page-break-after: always;">&nbsp;</p>
<!-- blank last page -->
<br />

<style type="text/css">
.borders { 
  border: 1px solid black !important;
}
.event-header {
  padding-top: 10px;
  background-color: lightgrey;
}
.pickup {
  text-align: center !important;
}
</style>
