<p style="float: right; text-align: right; margin: 0;">
  Payment Status: {{ financial_status }}<br />
 <span style="font-size:65px;">{{ order_name }}</span>
</p>

<div style="float: left; margin: 0; max-width:65%;" >
  <strong style="font-size: 55px;">{{ shipping_address.last_name }}, {{ shipping_address.first_name }}</strong><br /><br />
</div>
  
  <table class="table-tabular" class="borders" style="margin: 0 0 1.5em 0;">
  <tr>
  <td style="vertical-align: top; min-height: 50px; min-width: 150px">
Tag each item / tray! <br />
<strong>Total # of tags:</strong> <br /><br /><br />
Packed by:<br /><br />
<td style="background-color: lightgray; vertical-align: top; min-height: 50px;">
<strong>If order is missing items or has an issue:</strong> <br />
		1. Circle the missing item/s name<br />
		2. In the first column, write the number packed. write 0 if none available<br />
        3. Staple a color sticky note on the top left.<br />
        4. Notify your team leader if you have questions <br />
</td>
</tr>
<tr><td>Quality control<br /> checked by:
</td><td style="padding:5px; ">Substitution/Donation/Credit/Refund Notes:<br /><br /><br /><br />
</td></tr>
  </table>
  
<table class="table-tabular" style="margin: 0;">
  <thead>
    <tr>
      <th style="width: 75px;" class="borders"># Packed</th>
      <th style="width: 50px;" class="borders">Quantity</th>
      <th style="width:75px;" class="borders">Type</th>
      <th style="" class="borders">Common Name (<i>botanical name</i>)</th>
    </tr>
  </thead>
  <tbody>
{% assign grass = "" %}
{% assign gardenkit = "" %}
{% assign nativeplant = "" %}
{% assign wildflower = "" %}
{% assign wildtype = "" %}
{% assign nrs = "" %}
{% assign plantingaid = "" %}
{% assign upcycle = "" %}
{% assign alpha = "" %}
{% assign other = "" %}
{% assign totalqty = "0" %}
{% assign totalflats = "0" %}
{% assign totaldbnpots = "0" %}

    {% assign line_items_sorted = line_items | sort: "sku" %}
    {% for line_item in line_items_sorted %}
      <!-- SKIP REMOVED ITEMS -->
      {% if line_item.quantity == 0 %}
        {% continue %}
      {% endif %}
      
      {% assign totalqty = totalqty | plus: line_item.quantity %}
      {% capture line_item_html %} 
      <tr>
        <td class="borders">        </td>
        <td><strong style="font-size: 20px;">{{ line_item.quantity }}</strong> x</td>
        {% assign lineitemtitle = line_item.variant.title %}
        {% if line_item.variant.title contains "Flat of 38" %}
            {% assign lineitemtitle = "FLAT" %}
            {% assign totalflats = totalflats | plus: line_item.quantity %}
        {% elsif line_item.variant.title contains "4.5" %}
            {% assign totaldbnpots = totaldbnpots | plus: line_item.quantity %}
        {% endif %}
        <td>{{ lineitemtitle }}</td>
        <td><b>{{ line_item.product.title }}</b></td>
      </tr>
      {% endcapture %}

      <!-- TROUBLESHOOTER: 
        {{ line_item.product.title }} {{ line_item.variant.title }}       {{ line_item.quantity }}  {{ line_item.product.vendor }}  {{ line_item.product.type }} <br />
      -->    
      
      <!-- Check by Vendor, Type can be shared across vendors...
      could be updated for vendor DBN... -->
      {% if line_item.product.vendor contains "Alpha" %}
          {% assign alpha = alpha | append: line_item_html %}
      {% elsif line_item.product.vendor contains "Wildtype" %}
          {% assign wildtype = wildtype | append: line_item_html %}
      {% elsif line_item.product.type contains "Grasses" %}
          {% assign grass = grass | append: line_item_html %}
      {% elsif line_item.product.type contains "Garden Kit" %}
          {% assign gardenkit = gardenkit | append: line_item_html %}
      {% elsif line_item.product.type contains "Wildflower" %}
          {% assign wildflower = wildflower | append: line_item_html %}
      {% elsif line_item.product.type contains "Planting" %}
          {% assign plantingaid = plantingaid | append: line_item_html %}
      {% elsif line_item.product.vendor contains "UpCycle" %}
          {% assign upcycle = upcycle | append: line_item_html %}
      {% else %}
          {% assign other = other | append: line_item_html %}
          <!-- reduce others in total -->
          {% assign totalqty = totalqty | minus: line_item.quantity %}
      {% endif %}
    {% endfor %}

     {% if plantingaid != "" %}
       <tr><td style="background:lightgray;" colspan="4">Planting Aids</td></tr>
      {{ plantingaid }}
    {% endif %}
    {% if grass != "" %}
      <tr><td style="background:lightgray;" colspan="4">DesignsByNature - <strong>Grasses</strong> - pots/flats </td></tr>
      {{ grass }}
    {% endif %}
    {% if gardenkit != "" %}
      <tr><td style="background:lightgray;" colspan="4">DesignsByNature - <strong>Garden Kit</strong> - flats</td></tr>
      {{ gardenkit }}
    {% endif %}
    {% if wildflower != "" %}
      <tr><td style="background:lightgray;" colspan="4">DesignsByNature - <strong>Wildflowers</strong> - pots/flats</td></tr>
      {{ wildflower }}
    {% endif %}
    {% if alpha != "" %}
      <tr><td style="background:lightgray;" colspan="4">Conifers </td></tr>
      {{ alpha }}
    {% endif %}
    {% if upcycle != "" %}
      <tr><td style="background:lightgray;" colspan="4">Rain Barrels & Supplies </td></tr>
      {{ upcycle }}
    {% endif %}
    {% if other != "" %}
              <tr><td style="background:lightgray;" colspan="4">Other (nothing to pack here)</td></tr>
      {{ other }}
    {% endif %}


<!-- HIDE NON-EVENT ITEMS
   {% if other != "" %}
          <tr><td style="background:lightgray;" colspan="4"><strong>Donations / Other</strong> - nothing to pack here  </td></tr>
      {{ other }}
    {% endif %}
--> 

  </tbody>
</table>
    <div>Total Items: <strong>{{ totalqty }}</strong> --- Flats: <strong>{{totalflats}}</strong> --- 4.5" pots: <strong>{{ totaldbnpots}}</strong></div>

<!--  HIDE 
{% if transactions.size > 1 %}
  <h3 style="margin: 0 0 1em 0;">Transaction Details</h3>
  <table class="table-tabular" style="margin: 0 0 1.5em 0;">
    <thead>
      <tr>
        <th>Date</th>
        <th>Type</th>
        <th>Amount</th>
        <th>Kind</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for transaction in transactions %}
        <tr>
          <td>{{ transaction.created_at | date: "%b %d, %y" }}</td>
          <td>{{ transaction.gateway | payment_method }}</td>
          <td>{{ transaction.amount | money }}</td>
          <td>{{ transaction.kind }}</td>
          <td>{{ transaction.status }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}
-->

<!-- HIDE ADDRESS on PICKLIST
<table>
<tr><td style="width: 250px;">{% if shipping_address.company %}
      {{ shipping_address.company }}<br/>
    {% endif %}
    {{ shipping_address.street }}<br/>
    {{ shipping_address.city }}
    {{ shipping_address.province_code }}
    {{ shipping_address.zip | upcase }}<br/>
    {{ shipping_address.country }}
    </td><td>
    {{ shipping_address.phone }} <br />
    {% if customer.phone %} {{ customer.phone }} <br /> {% endif %}
	{{ email }}<br /><br />
{% if note %}
 {{ note }}
{% endif %}
	</td></tr>
</table>
-->
    <div style="float: right;">
    {{ shipping_address.phone }}
    {% if customer.phone %} {{ customer.phone }} {% endif %}
    </div>

<!--  HIDE PAYMENT INFO
<h3 style="margin: 0 0 1em 0;">Payment Details</h3>

<table class="table-tabular" style="margin: 0 0 1.5em 0;">
  <tr>
    <td>Subtotal price:</td>
    <td>{{ subtotal_price | money }}</td>
  </tr>
  {% for discount in discounts %}
  <tr>
    <td>Includes discount "{{ discount.code }}"</td>
    <td>{{ discount.savings | money }}</td>
  </tr>
  {% endfor %}
  <tr>
    <td>Total tax:</td>
    <td>{{ tax_price | money }}</td>
  </tr>
  {% if shipping_address %}
    <tr>
      <td>Shipping:</td>
      <td>{{ shipping_price | money }}</td>
    </tr>
  {% endif %}
  <tr>
    <td><strong>Total price:</strong></td>
    <td><strong>{{ total_price | money }}</strong></td>
  </tr>
  {% if total_paid != total_price %}
    <tr>
      <td><strong>Total paid:</strong></td>
      <td><strong>{{ total_paid | money }}</strong></td>
    </tr>
    <tr>
      <td><strong>Outstanding or refunded Amount: </strong></td>
      <td><strong>{{ total_price | minus: total_paid | money }}</strong></td>
    </tr>
  {% endif %}
</table>
-->

<!-- EXTRA BLANK PAGE - USE IF DOING DOUBLESIDED TO GAP ORDERS
<div style="page-break-after: always;"></div>
-->


<style type="text/css">
.borders { 
  border: 1px solid black !important;
}
.event-header {
  padding-top: 10px;
  background-color: lightgrey;
}
</style>
